.VideoTime{
    padding: 4px 16px;
    background-color: #000;
    opacity: .6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    font-family: 'Gilroy';
}