.App {
    width: 100%;
    overflow: hidden;
    transition: opacity 300ms;

    &_wrapper {
        height: 100%;
        overflow: auto;
    }
}

// html,
// body {
//     height: 100%;
//     overflow: hidden;
// }