.ArrowDown {
    position: fixed;
    top: calc(100lvh - 45px);
    left: calc(50vw - 25px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    img {
        width: 50px;
    }
}