.Header {
    position: fixed;
    padding: 24px 32px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    pointer-events: none;
    flex-wrap: wrap;

    &_mask {
        width: 100%;
        position: absolute;
        inset: 0;
        // inset 0 = top: 0, bottom: 0, right: 0, left: 0
        background-color: #000;
        mask-image: linear-gradient(to top, transparent 10%, rgba(0, 0, 0, 0.40) 80%);
        -webkit-mask-image: linear-gradient(to top, transparent 10%, rgba(0, 0, 0, 0.40) 80%);
        z-index: -1;
    }

    @media(max-width: 1000px) {
        align-items: center;
    }

    @media(max-width: 700px) {
        padding: 20px;
    }

    &_contactUs {
        font-family: 'Gilroy';
        font-weight: 800;
        padding: 16px 16px;
        background: white;
        color: black;
        font-size: 24px;
        cursor: pointer;
        transition: color 300ms, background-color 300ms;

        &:hover {
            background-color: #000;
            color: #FFF;
        }

        @media(max-width: 900px) {
            display: none;
        }

        @media(max-width: 800px) {
            font-size: 18px;
            padding: 8px 12px;
            // display: none;
        }
    }

    &_nft {
        font-family: 'Gilroy';
        font-weight: 800;
        font-size: 24px;
        cursor: pointer;

        @media(max-width: 800px) {
            display: none;
        }
    }

    &_left,
    &_right {
        display: flex;
        align-items: center;
        gap: 32px;
        pointer-events: all;
    }

    &_right {
        padding-right: 60px;
    }

    &_logo {
        img {
            height: 52px;
        }
    }
}