.Header {
    position: fixed;
    padding: 32px;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    @media(max-width: 1000px) {
        align-items: center;
        display: none;
    }

    &_contactUs {
        font-family: 'Gilroy';
        font-weight: 800;
        padding: 10px 16px;
        background: white;
        color: black;
        font-size: 24px;
    }

    &_nft {
        font-family: 'Gilroy';
        font-weight: 800;
        font-size: 24px;
        cursor: pointer;
    }

    &_left,
    &_right {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &_right {
        padding-right: 60px;
    }

    &_logo {
        img {
            height: 52px;
        }
    }
}