@function vh($n) {
    @return calc(var(--vh) * #{$n});
}

.WtIllustrations_prel {
    position: relative;
    z-index: 2;
}

.WtIllustrations_crel {
    position: relative;
    z-index: 1;
}


.WorkType {
    // background: linear-gradient(to bottom, #0D0B1000 0%, #0D0B10 30%);
    padding-top: vh(90);
    padding-bottom: vh(90);
    min-height: vh(150);

    // test
    // padding-top: 1000px;
    // padding-bottom: 1000px;
    // min-height: 1500px;

    // overflow: hidden;

    &_NoPb {
        padding-bottom: 80px;
        position: relative;
        z-index: 2;
    }


    &_casesPad,
    &_partnersPad {
        padding-top: 500px;

        @media(max-width: 700px) {
            padding-top: 100px;
        }
    }

    &_cases {
        max-width: 500px;
        display: flex;
        align-items: center;

        &_wrapper {
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
        }

        &_content {
            position: relative;
            z-index: 2;
        }

        &_decor {
            position: relative;
            z-index: 1;
            justify-content: right;
            left: calc((100vw - 1240px) / 2 + 10px);

            @media(max-width: 1240px) {
                left: 10px;
            }

            &_inner {
                min-width: 100vw;
                min-height: 500px;

                /* fallbacks */
                --tile-w: 1500px;
                --tile-h: 500px;

                background-image: url('/casesBack.webp');
                background-repeat: repeat;
                background-size: var(--tile-w) var(--tile-h);
                animation: moveBg 60s linear infinite;



                position: relative;
                left: 20px;
                display: flex;
                justify-content: right;
                align-items: center;
                rotate: -3deg;

                -webkit-mask-image: linear-gradient(to right, transparent, black);
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-image: linear-gradient(to right, transparent 30%, black);
                mask-repeat: no-repeat;
                mask-size: 100% 100%;

                @media(max-width: 700px) {
                    opacity: .5;
                    mask-image: linear-gradient(to right, transparent 0%, black);

                }
            }

            @keyframes moveBg {
                from {
                    background-position: 0 0;
                }

                to {
                    background-position: var(--tile-w) var(--tile-h);
                }
            }
        }
    }

    &_partners {
        &_decor {
            position: relative;
            z-index: 1;
            justify-content: right;
            left: calc((100vw - 1240px) / 2 + 10px);

            @media(max-width: 1240px) {
                left: 10px;
            }

            img {
                max-height: 590px;
            }

            &_partners {
                rotate: -3deg;
            }

            &_inner {
                min-width: 100vw;
                min-height: 500px;
                background-color: #FDFCCE;
                position: relative;
                left: 20px;
                display: flex;
                justify-content: right;
                align-items: center;


                -webkit-mask-image: linear-gradient(to right, transparent, black);
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
                mask-image: linear-gradient(to right, transparent 30%, black);

                @media(max-width: 700px) {
                    mask-image: linear-gradient(to right, #0001, #0006);
                    left: 0px;
                }

                &_row {
                    justify-content: right;
                    animation: partnersRowAnim 3s infinite linear;
                    top: 500px;

                    @keyframes partnersRowAnim {
                        0% {
                            transform: translate(0px, 0px);
                        }

                        100% {
                            transform: translate(100px, -1000px);
                        }
                    }

                    &_inner {
                        min-width: 700px;
                        display: flex;
                        justify-content: space-between;

                        @media(max-width: 700px) {
                            min-width: 500px;
                        }
                    }

                }

                &_el {
                    rotate: 3deg;

                    @media(max-width: 700px) {
                        width: 150px;
                    }
                }
            }
        }

    }

    &_mt120 {
        margin-top: 120px;
        width: 100%;

        @media(max-width: 1000px) {
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media(max-width: 800px) {
            margin-top: 40px;
        }
    }

    &_mt40 {
        margin-top: 40px;
    }

    &_contentCGI {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: start;
        gap: 20px;

        @media(max-width: 800px) {
            display: none;
        }

        // &_mob {

        // }

        &_content {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;

            @media(max-width: 800px) {
                flex-wrap: wrap;
                gap: 0px;
            }
        }

        &_left,
        &_right {
            width: 100%;
            display: flex;
            justify-content: start;
            align-items: baseline;
            align-content: baseline;
            flex-wrap: wrap;
            // gap: 40px;


        }

        &_left {
            justify-content: start;

            @media(max-width: 800px) {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                align-content: start;
                flex-direction: column;
            }

            // gap: 40px;
            &_gap {
                gap: 40px;

                @media(max-width: 530px) {
                    gap: 30px;
                }
            }
        }

        &_right {
            @media(max-width: 800px) {
                flex-direction: column;
            }

            &_close {
                @media(max-width: 800px) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &_gap {
                gap: 40px;

                @media(max-width: 530px) {
                    gap: 30px;
                }
            }
        }

    }

}