.BigPlayer{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
    right: 16px;
    &_bottom{
        bottom: 100px;
    }
    &_pr{
        right: calc(100% / 3);
    }
    // padding-right: 200px;
    &_video{
       min-width: 800px;
       min-height: 800px;
       max-height: 800px;
       border: 16px solid transparent;
       transition: border 300ms;
       &:hover{
        border: 16px solid rgba(255, 199, 215, 1);
       }
       img{
        width: 100%;
        z-index: -1;
        min-height: 800px;
        max-height: 800px;
       }
    }
}