@function vh($n) {
    @return calc(var(--vh) * #{$n});
}


.Sidebar {
    transform: translateX(50vw);
    width: 100vw;
    // height: vh(100);
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: transform 1000ms cubic-bezier(.5, .0, .5, 1);
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    @media(max-width: 1300px) {
        transform: translateX(70vw);
    }

    @media(max-width: 900px) {
        transform: translateX(100vw);
    }

    &_open {
        pointer-events: all;
        transform: translateX(0);
    }

    &_left {
        transform: translateX(50vw);
        transition: transform 1000ms cubic-bezier(.5, .0, .5, 1);
        overflow: hidden;
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        overflow: hidden;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        @media(max-width: 1300px) {
            width: 30%;
            transform: translateX(30vw);
        }

        @media(max-width: 900px) {
            width: 30px;
            transform: translateX(30px);
        }

        &_open {
            transform: translateX(0);
        }

        &_bg {
            width: 100% !important;

            img {
                min-width: 65vw;
                min-height: vh(130);
                filter: blur(50px);
                object-fit: cover;
                transition: opacity 300ms;
            }
        }

        &_logo {
            width: 100% !important;
            transition: opacity 500ms ease-in-out;

            @media(max-width: 900px) {
                display: none;
            }
        }

        .HeaderAnimatedLogo {
            filter: invert(1);
        }
    }

    &_right {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-content: start;
        background: radial-gradient(rgba(20, 15, 27, 1), rgba(13, 11, 16, 1));
        position: relative;
        z-index: 2;

        @media(max-width: 1300px) {
            width: 70%;
        }

        @media(max-width: 900px) {
            width: calc(100vw - 30px);
        }

        &_cta {
            width: 100%;
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 24px 32px;

            @media(max-width: 900px) {
                padding-right: 70px;
                justify-content: space-between;
            }

            &_Services {
                display: none;

                @media(max-width: 900px) {
                    display: flex;
                }
            }

            &_Vision {
                position: relative;
                top: -120px;

                @media(max-width: 900px) {
                    top: 0px;
                }
            }

            &_text {
                display: none;

                @media(max-width: 900px) {
                    display: flex;
                    font-family: 'Oswald';
                    font-size: 24px;
                    font-weight: 700;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }

        &_Cases {
            align-content: space-between;
            padding-bottom: 32px;
        }

        &_content {
            width: 100%;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            align-content: center;
            gap: 32px;
            padding: 32px;
            // height: calc(vh(100) - 124px);
            height: calc(100vh - 124px);

            @media(max-width: 900px) {
                order: 1;
            }

            // @media(max-height: 975px){
            //     height: calc(vh(100) - 400px);
            // }

            &_unFlex {
                display: block;
            }

            &_Cases {
                overflow: auto;
                align-content: start;
                align-items: start;

                @media(max-width: 900px) {
                    height: calc(100vh - 220px);
                }
            }

            &_Services {
                @media(max-width: 900px) {
                    height: calc(100vh - 220px)
                }
            }

            &_Vision {
                overflow: auto;
                height: calc(100vh - 124px);
                padding-bottom: 140px;


                -webkit-mask-image: linear-gradient(to right, transparent, black);
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                mask-repeat: no-repeat;
                mask-size: 100% 100%;
                mask-image: linear-gradient(to top, transparent, black 150px);
                // height: calc(100vh - 250px);

                @media(max-width: 900px) {
                    height: calc(100vh - 220px)
                }
            }

            &_Consultation {
                height: calc(100vh - 124px);
                overflow: auto;

                @media(max-width: 900px) {
                    height: calc(100vh - 220px)
                }
            }

            &_vision {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }

            &_consultation {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }

            &_item {
                font-weight: 700;
                font-size: 68px;
                line-height: 68px;
                color: rgba(255, 255, 207, 1);
                cursor: pointer;
                width: 100%;
                display: flex;
                justify-content: start;
                transition: color 300ms;
                @media(max-width: 1700px){
                    font-size: 50px;
                }
                @media(max-width: 900px) {
                    font-size: 42px;
                    line-height: 32px;
                }

                @media(max-width: 570px) {
                    font-size: 32px;
                    line-height: 24px;
                }

                @media(max-width: 460px) {
                    font-size: 24px;
                    line-height: 16px;
                }

                @media(max-width: 370px) {
                    font-size: 20px;
                }
                @media(max-height: 700px){
                    line-height: 32px;
                }
                @media(max-height: 500px){
                    font-size: 24px;
                    line-height: 12px;
                }

                &_active {
                    color: rgba(255, 199, 215, 1);
                }

                &:hover {
                    color: rgba(255, 255, 255, 1);
                }
            }

            &_el {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }

                @media(max-width: 430px) {
                    gap: 5px;
                }

                @media(max-width: 390px) {
                    margin-top: 10px;
                }

                &_left {
                    width: 50%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 20px;
                    font-family: 'Oswald';
                    font-size: 55px;
                    font-weight: 700;
                    color: rgba(255, 255, 207, 1);

                    @media(max-width: 600px) {
                        font-size: 32px;
                    }

                    @media(max-width: 430px) {
                        gap: 5px;
                    }

                    @media(max-width: 390px) {
                        font-size: 24px;
                    }

                    img {
                        width: 25%;
                        min-width: 100px;

                        @media(max-width: 600px) {
                            min-width: 70px;
                        }

                        @media(max-width: 390px) {
                            min-width: 50px;
                        }
                    }

                    // &_mob{
                    //     display: none;
                    //     @media(max-width: 390px){
                    //         display: flex;
                    //     }
                    // }
                }

                &_right {
                    width: 50%;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    font-family: 'Gilroy';
                    font-size: 32px;
                    font-weight: 800;

                    @media(max-width: 600px) {
                        font-size: 24px;
                    }

                    @media(max-width: 390px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &_header {
        @media(max-width: 900px) {
            order: 2;
        }
    }

    &_consultation {
        &_btns {
            width: 100%;
            display: flex;
            justify-content: right;
            gap: 12px;

            // align-items: center;
            @media(max-width: 500px) {
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

.ul {
    width: 100%;
    padding-left: 32px;

    &_li {
        list-style-type: square;
        font-family: 'Gilroy';
        font-size: 32px;
        font-weight: 800;

        @media(max-width: 1000px) {
            font-size: 26px;
        }

        @media(max-width: 1000px) {
            justify-content: center;
            text-align: center;
        }

        @media(max-width: 400px) {
            font-size: 20px;
        }
    }

    li::marker {
        color: rgba(255, 199, 215, 1);
    }
}