.SmallPlayer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    min-height: 700px;

    &_mt {
        margin-top: 120px;
    }

    &_mb {
        margin-bottom: 120px;
    }

    &_bottom {
        bottom: 100px;
    }

    &_center {
        justify-content: center;
    }

    &_end {
        justify-content: end;
    }


    // max-height: 600px;
    // max-width: 500px;
    &_video {
        width: 100%;
        // min-width: 60%;
        min-height: 700px;
        max-height: 700px;
        justify-content: start;
        // transition: border 300ms ease-in-out;
        // background-color: rgba(255, 199, 215, 1);

        img {
            object-fit: cover;
            width: 100%;
            min-height: 700px;
            max-height: 700px;
            border: 0px solid rgba(255, 199, 215, 1);
            transition: 1000ms border ease;
            cursor: zoom-in;
        }

        &:hover {
            img {
                border: 16px solid rgba(255, 199, 215, 1);
            }
        }
    }

    &_content {
        width: 100%;
        min-height: 550px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;

        &_inner {
            width: 100%;
        }

        &_play {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        &_info {
            width: 100%;
            padding: 0px 20px 20px 20px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}