.WhiteText{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Gilroy';
    &_maxWidth{
        max-width: 500px;
    }
}