.WhiteText {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Gilroy';
    @media(max-width: 1000px){
        font-size: 26px;
    }
    @media(max-width: 1000px){
        justify-content: center;
        text-align: center;
    }
    @media(max-width: 400px){
        font-size: 20px;
    }
    &_maxWidth {
        max-width: 500px;
    }
}