.NiggaPanarama {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        min-width: 100vw;
        min-height: 120vh;
        object-fit: cover;
    }

    &_wrapper {
        width: 100%;
    }
}