.PinkTitle {
    width: 100%;
    // display: flex;
    // justify-content: start;
    // align-items: center;
    color: rgba(255, 199, 215, 1);
    font-family: 'Gilroy';
    font-size: 55px;
    font-weight: 800;
    @media(max-width: 1000px){
        font-size: 45px;
    }
    @media(max-width: 800px){
        display: flex;
        justify-content: center;
        text-align: center;
    }
    @media(max-width: 400px){
        font-size: 32px;
    }

    // line-height: 130%;

    &_maxWidth {
        max-width: 500px;
    }
}